.price {
    margin-bottom: 50px;
    span {
      font-family: $manropeBold;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 1.28571px;
      &::before {
        content: "$";
        margin-right: 5px;
      }
    }
  }