section.go-back {
  margin: 60px 0;
}
section.headphones-first-detail {
  margin: 60px 0;
  .container .text-container .text-content {
    
    .buttons {
      width: 65%;
      display: flex;
      .count {
        display: flex;
        justify-content: flex-start;
        button,
        input {
          width: 40px;
          padding: 0;
          background: $grayBG;
        }
        button {
          color: rgba($color: $black, $alpha: 0.25);
          &:hover {
            color: rgba($color: $hoverOrange, $alpha: 1);
            background: darken($color: $grayBG, $amount: 5);
          }
        }
        input {
          border: 0;
          text-align: center;
        }
        input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }
    }
  }
}
section.features {
  .container {
    @include flex-justifyContent(space-between);
    #features {
      width: 60%;
      p {
        margin-top: 32px;
        opacity: 0.5;
      }
    }
    div h2 {
      font-family: $manropeBold;
      margin-bottom: 32px;
      font-size: 32px;
      line-height: 36px;
      letter-spacing: 1.14286px;
      text-transform: uppercase;
    }
    #in-the-box {
      width: 30%;
      ul li {
        margin-bottom: 8px;
        color: rgba($color: $black, $alpha: 0.5);
        span {
          color: $buttonBG;
          margin-right: 24px;
        }
      }
    }
  }
}
section.products-gallery {
  margin: 160px 0;
  .container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 445px 640px;
    gap: 32px;
    div img {
      border-radius: 8px;
    }
    #third {
      grid-column: 2;
      grid-row: 1/3;
    }
  }
}
section.also-like {
  h2 {
    text-align: center;
    font-family: $manropeBold;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.14286px;
    text-transform: uppercase;
    margin-bottom: 64px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    .product-container {
      width: 100%;
      @include flex-justifyContent-alignItems(space-between, center);
      flex-direction: column;
      .image-container {
        width: 100%;
        img {
          width: 100%;
          object-fit: contain;
        }
      }
      h2 {
        font-family: $manropeBold;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 1.71429px;
        text-transform: uppercase;
        margin: 40px 0;
      }
      button {
        @include button-orange();
      }
    }
  }
}
