/*#region mixins*/
@mixin flex-justifyContent-alignItems($js, $ai) {
  display: flex;
  justify-content: $js;
  align-items: $ai;
}
@mixin flex-justifyContent($js) {
  display: flex;
  justify-content: $js;
}
@mixin button-orange {
  text-transform: uppercase;
  border: none;
  outline: none;
  background: $color-primary;
  color: $color-white;
  font-family: $manropeBold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  padding: 15px 30px;
  cursor: pointer;
  &::after {
    display: block;
    content: "";
    border-bottom: solid 3px $color-white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  &:hover {
    background: $color-primary-hover;
    &::after{
      transform: scaleX(1);
    }
  }
}
@mixin button-white {
  text-transform: uppercase;
  border: 1px solid $color-secondary;
  outline: none;
  background: none;
  color: $color-secondary;
  font-family: $manropeBold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  padding: 15px 30px;
  cursor: pointer;
  &::after {
    display: block;
    content: "";
    border-bottom: solid 3px $color-white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  &:hover {
    background: $color-secondary;
    color: white;
    &::after{
      transform: scaleX(1);
    }
  }
}
@mixin button-borderless {
  text-transform: uppercase;
  border: none;
  outline: none;
  background: none;
  color: black;
  opacity: 0.5;
  font-family: $manropeBold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  padding: 15px 30px;
  cursor: pointer;
  &::after {
    display: block;
    content: "";
    padding-bottom: 2px;
    border-bottom: solid 2px $color-secondary;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  &:hover {
    color: $color-primary;
    &::after{
      transform: scaleX(1);
    }
  }
  span::after {
    content: "";
    border: solid $color-primary;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 14px;
    transform: rotate(-45deg);
  }
}
@mixin product($margin, $color) {
  margin: $margin 0;
  .container {
    @include flex-justifyContent-alignItems(space-between, center);
    div {
      width: 49%;
    }
    img {
      width: 100%;
    }
    .text-content {
      color: $color;
      width: 100%;
      h3 {
        line-height: 19px;
        letter-spacing: 10px;
        text-transform: uppercase;
        opacity: 0.5;
      }
      h1 {
        font-family: $manropeBold;
        font-size: 56px;
        line-height: 58px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 24px 0;
      }
      p {
        // width: 87%;
        opacity: 0.75;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 40px;
      }
      button {
        @include button-orange();
      }
    }
  }
}
/*#endregion mixins*/
