@import "abstracts/variables", "abstracts/functions", "abstracts/mixins",
  "abstracts/placeholders";

@import "base/reset", "base/helpers", "base/typography";

// @import
//   'layout/navigation',
//   'layout/grid',
//   'layout/header',
//   'layout/footer',
//   'layout/sidebar',
//   'layout/forms';

@import "components/product", "components/modal", "components/price";

@import "pages/headphones", "pages/earphones", "pages/speakers",
  "pages/headphones-first-detail", "pages/checkout";

// styles
body {
  font-family: $manropeRegular;
  header {
    background: $headerBG;
    width: 100%;
    .container {
      padding: 32px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      @include flex-justifyContent-alignItems(space-between, center);
      nav {
        ul {
          display: flex;
          li {
            margin: 0 17px;
            a {
              color: $white;
              text-transform: uppercase;
              font-family: $manropeBold;
              letter-spacing: 2px;
              line-height: 25px;
              font-size: 13px;
              &:hover {
                color: $hoverOrange;
              }
            }
          }
        }
      }
      .burger-menu{
        display: none;
      }
    }
  }
  main {
    section.new-product {
      width: 100%;
      background: url("../../assets/images/home/desktop/image-hero.jpg")
        no-repeat;
      background-size: cover;
      background-position: bottom;
      padding: 225px 0;
      .container {
        @include flex-justifyContent-alignItems(flex-start, center);
        .text-content {
          width: 36%;
          color: $white;
          h3 {
            line-height: 19px;
            letter-spacing: 10px;
            text-transform: uppercase;
            opacity: 0.5;
          }
          h1 {
            font-family: $manropeBold;
            font-size: 56px;
            line-height: 58px;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin: 24px 0;
          }
          p {
            width: 87%;
            opacity: 0.75;
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 40px;
          }
          button {
            @include button-orange();
          }
        }
      }
    }
    section.products {
      margin-top: 120px;
      .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        position: relative;
        gap: 10px;
        a {
          div {
            @include flex-justifyContent-alignItems(flex-end, center);
            flex-direction: column;
            // width: 350px;
            margin-top: 50px;
            background: $grayBG;
            border-radius: 8px;
            img {
              width: 144px;
              position: absolute;
              top: 0;
            }
            h2 {
              font-family: $manropeBold;
              margin-top: 116px;
              margin-bottom: 15px;
              font-size: 18px;
              line-height: 25px;
              letter-spacing: 1.29px;
              text-transform: uppercase;
              color: $black;
            }
            button {
              @include button-borderless();
            }
          }
        }
      }
    }
    section.products-layout {
      margin-top: 168px;
      margin-bottom: 200px;
      .container {
        div {
          border-radius: 8px;
        }
        .speaker1 {
          background: $buttonBG;
          display: flex;
          align-items: center;
          padding: 100px 0;
          color: $white;
          position: relative;
          overflow: hidden;
          div {
            width: 50%;
          }
          .img-container {
            height: 100%;
            @include flex-justifyContent-alignItems(center, flex-end);
            align-self: flex-end;
            img {
              width: 350px;
              position: absolute;
              bottom: -6px;
            }
          }
          .text-content {
            h2 {
              font-size: 56px;
              line-height: 58px;
              letter-spacing: 2px;
              text-transform: uppercase;
              font-family: $manropeBold;
            }
            p {
              width: 60%;
              margin: 24px 0 40px 0;
              opacity: 0.75;
              font-weight: 500;
              font-size: 15px;
              line-height: 25px;
            }
            button {
              @include button-white();
              background: $black;
              color: $white;
              &:hover {
                background: $buttonBGGray;
                border: none;
              }
            }
          }
        }
        .speaker2 {
          height: 100%;
          background-image: url(../../assets/images/home/desktop/image-speaker-zx7.jpg);
          padding: 101px;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: left top;
          margin: 48px 0;
          .text-content {
            h2 {
              font-family: $manropeBold;
              font-size: 28px;
              line-height: 38px;
              letter-spacing: 2px;
              text-transform: uppercase;
              margin-bottom: 32px;
            }
            button {
              @include button-white();
            }
          }
        }
        .earphones {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
          gap: 20px;
          img {
            width: 100%;
            border-radius: 8px;
          }
          .text-container {
            background: $grayBG;
            padding-left: 95px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .text-content {
              width: 100%;
              h2 {
                font-family: $manropeBold;
                font-size: 28px;
                line-height: 38px;
                letter-spacing: 2px;
                text-transform: uppercase;
                margin-bottom: 32px;
              }
              button {
                @include button-white();
              }
            }
          }
        }
      }
    }
    section.audio-gear {
      margin-bottom: 200px;
      .container {
        display: flex;
        align-items: center;
        .text-container {
          .text-content {
            width: 80%;
            h2 {
              font-family: $manropeBold;
              font-size: 40px;
              line-height: 44px;
              letter-spacing: 1.42857px;
              text-transform: uppercase;
              margin-bottom: 32px;
              strong {
                color: $hoverOrange;
              }
            }
            p {
              font-size: 15px;
              line-height: 25px;
              opacity: 0.5;
            }
          }
        }
        .img-container img {
          border-radius: 8px;
        }
      }
    }
  }
  footer {
    background: black;
    color: $white;
    .container {
      padding: 32px 0;
      position: relative;
      .rect {
        width: 100px;
        height: 4px;
        background: $hoverOrange;
        position: absolute;
        top: 0;
      }
      .navigation {
        @include flex-justifyContent-alignItems(space-between, center);
        nav {
          ul {
            display: flex;
            li {
              margin: 0 17px;
              a {
                color: $white;
                text-transform: uppercase;
                font-family: $manropeBold;
                letter-spacing: 2px;
                line-height: 25px;
                font-size: 13px;
                &:hover {
                  color: $hoverOrange;
                }
              }
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
      .info {
        display: flex;
        align-items: center;
        div {
          width: 50%;
        }
        .about {
          margin-top: 36px;
          .about-text {
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 56px;
            opacity: 0.5;
          }
          .copyright {
            font-size: 15px;
            line-height: 25px;
            opacity: 0.5;
          }
        }
        .social {
          @include flex-justifyContent(flex-end);
          &:nth-child(2) a {
            @include flex-justifyContent(center);
            margin: 0 8px;
          }
          // TODO
          &:hover a img {
            background: $hoverOrange;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  header,
  section .container,
  footer {
    padding: 0 2%;
  }
  body section.headphones-first .container, section.headphones-second .container, section.headphones-third .container, section.speakers-first .container, section.speakers-second .container, section.earphones-first .container{
    flex-direction: column;
    .img-container{
      order: 1;
      width: 100%;
      height: 360px;
      margin-bottom: 50px;
      img{
        height: inherit;
        object-fit: cover;
      }
    }
    .text-container{
      order: 2;
      text-align: center;
      h1{
        font-size: 30px;
      }
    }
  }
  body section.headphones-first-detail .container{
    flex-direction: row;
    .img-container{
      width: 20%;
    }
    .text-container{
      width: 80%;
    }
  }
  body section.features .container{
    flex-direction: column;
    #features, #in-the-box{
      width: 100%;
    }
    #in-the-box{
      display: flex;
      margin-top: 120px;
      h2, ul{
        width: 50%;
      }
    }
  }
}
@media screen and (max-width: 775px) {
  body header{
    .container{
      .logo{
        display: flex;
        align-items: center;
        .burger-menu{
          display: block;
          margin-right: 42px;
          cursor: pointer;
        }
      }
      nav{
        display: none;
      }
      
    }
  }
  body main {
    section.new-product {
      background-image: url(../../assets/images/home/tablet/image-header.jpg);
      .container{
        justify-content: center;
        text-align: center;
        .text-content{
          width: 90%;
          h1{
            width: 100%;
          }
          p{
            width: 100%;
          }
        }
      }
    }
    section.products-layout .container {
      .speaker1{
        flex-direction: column;
        .img-container{
          width: 100%;
          padding-bottom: 7%;
          #speaker-img{
            position: relative;
          }
        }
        .text-content{
          width: 100%;
          display: flex;
          text-align: center;
          flex-direction: column;
          align-items: center;
        }
      }
      .earphones {
        gap: 0;
        .text-container{
          padding-left: 5%;
        }
      }
    }
    section.audio-gear{
      .container{
        flex-direction: column-reverse;
        align-items: center;
        .img-container{
          width: 100%;
          height: 300px;
          margin-bottom: 25px;
          img{
            width: 100%;
            height: inherit;
            object-fit: cover;
          }
        }
        .text-container{
          display: flex;
          justify-content: center;
          text-align: center;
        }
      }
    }
  }
  body footer .container{
    .navigation{
      align-items: flex-start;
      flex-direction: column;
      nav ul li:first-child{
        margin-left: 0;
      }
    }
    .info{
      align-items: flex-end;
    }
  }
}